@charset "UTF-8";
@font-face {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 900;
    src: url("../image/flatin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215;
}

@media (min-width: 64rem) {
    nav {
        width: 60em;
    }
}

@media (min-width: 30rem) {
    header {
        justify-content: space-around;
    }
    #mark {
        order: 1;
        flex-grow: 0;
    }
    nav {
        order: 2;
        flex-grow: 1;
    }
    nav>ul {
        display: flex;
    }
    nav>#nav-btn {
        display: none;
    }
}

@media (max-width: 30rem) {
    header {
        justify-content: start;
    }
    #mark {
        order: 2;
        flex-grow: 1;
    }
    nav {
        order: 1;
        flex-grow: 0;
    }
    nav>ul {
        display: none;
    }
    nav>#nav-btn {
        display: block;
    }
}

body {
    box-sizing: border-box;
    margin: 0;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: Helvetica, arial, sans-serif;
    letter-spacing: normal;
    text-transform: none;
}

header {
    position: fixed;
    right: 0px;
    top: 0px;
    left: 0px;
    z-index: 1001;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0.75rem 1.5rem;
}

p {
    margin: 0;
}

img {
    width: 100%;
}

#splash {
    background-image: url(../image/bg.jpg);
    background-size: cover;
    background-position: center;
    display: block;
}

#circle {
    background-color: rgba(105, 205, 60, 0.9);
    border-radius: 50%;
}

#mark {
    color: rgb(67, 134, 36);
    font-family: Vollkorn, serif;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

nav {
    white-space: nowrap;
}

nav li {
    position: relative;
}

nav>#nav-btn {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

nav li ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 1.1rem;
    left: 0;
    background-color: white;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px 3px;
    font-size: 0.9rem;
    max-height: 45vh;
    padding: 0.5rem;
    line-height: 1.5rem;
}

#prdt-ttl {
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav li>a:hover,
#prdt-ttl:hover {
    color: rgb(59, 120, 31);
}

nav li a {
    text-decoration: none;
    color: inherit;
}

.cur-nav {
    font-weight: bold;
    color: rgb(67, 134, 36);
}

nav>ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prdt-icn {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    transition: transform 0.33s ease-in-out 0s;
    transform: rotate(0deg);
}